@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono&display=swap');

:root {
    --bgcolor: #161d27;
    --textoPrincipal: #E6EDF3;
    --textoScundario: #A1A9BA;
    --textoAtivo: #5a79b3;
    --textoCorreto: #223040;
    --textoErrado: #c25e5e;
    --corBotao: #326496;
}

body {
    font-family: 'Bungee', sans-serif;
    background-color: var(--bgcolor);
    color: var(--textoPrincipal);
    margin: 0;
}

main {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 16px;
}

.cabecalho-pagina {
    text-align: center;
    margin-top: 80px;
}

.cabecalho-pagina h1 {
    margin: 0;
    font-size: 32px;
}

.cabecalho-pagina p {
    margin-top: 8px;
    font-size: 14px;
    color: var(--textoScundario);
}

.secao-jogo {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-tempo {
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--textoPrincipal);
}

#info {
    font-size: 18px;          
    font-weight: 600;
    color: var(--textoPrincipal); 
    text-align: left;
}

.tempo-numero {
    color: #58a6ff;
    font-size: 24px;
    font-weight: 800;
}

.msg-ajuda-inicial {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--textoScundario);
    text-align: center;
}

.titulo-pontuacao {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
    color: var(--textoPrincipal);
    letter-spacing: 1px;
}

.pontuacao-valor {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
    color: #58a6ff; 
}

.pontuacao-texto {
    font-size: 16px;
    text-align: center;
    color: var(--textoScundario);
}

#jogo {
    width: 100%;
    max-width: 600px;
    line-height: 35px;
    height: 110px;
    overflow: hidden;
    position: relative;
    outline: none;
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

div.palavra {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color: var(--textoAtivo);
    margin: 0 5px;
    font-size: 120%;
}

.letra.correta {
    color: var(--textoCorreto);
}

.letra.incorreta {
    color: var(--textoErrado);
}

.letra.current {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--textoPrincipal);
    transition: border-color 0.15s ease;
}

.botoes-jogo {
    margin-top: 24px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: var(--corBotao);
    border: 0;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 1000;
}
