@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono&display=swap');

:root {
    --bgcolor: #90B2D4;
    --textoPrincipal: #223040;
    --textoScundario: #3B4A5C;
    --textoAtivo: #5a79b3;
    --textoCorreto: #223040;
    --textoErrado: #c25e5e;
    --fontSize: 25px;
    --buttonColor: #326496;
}

body {
    font-family: 'Bungee', sans-serif;
    background-color: var(--bgcolor);
    ;
    color: var(--textoPrincipal)
}

main {
    width: 600px;
    margin: 50px auto;
}

h1 {
    color: var(--textoPrincipal);
}

#header {
    display: flex;
    justify-content: space-between;
    font-size: var(--fontSize);
    margin: 30px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--textoPrincipal);
}

button {
    background-color: var(--buttonColor);
    border: 0;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;

}

div#jogo {
    line-height: 35px;
    height: 110px;
    overflow: hidden;
    position: relative;
    outline: none;
}


div.palavra {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color: var(--textoAtivo);
    margin: 0 5px;
    font-size: 120%;
}

.letra.correta {
    color: var(--textoCorreto);
}

.letra.incorreta {
    color: var(--textoErrado);
}


.letra.current {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--textoPrincipal);
    transition: border-color 0.15s ease;
}

#jogo.fim #palavras{
    opacity: 50% ;
}


#jogo.fim .letra.current{
    padding-bottom: 0px;
    border-bottom: none;
    transition: none;
}